# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
.vscode/tasks.json
.VSCodeCounter/2022-12-15_00-27-07/details.md
.VSCodeCounter/2022-12-15_00-27-07/diff-details.md
.VSCodeCounter/2022-12-15_00-27-07/diff.csv
.VSCodeCounter/2022-12-15_00-27-07/diff.md
.VSCodeCounter/2022-12-15_00-27-07/diff.txt
.VSCodeCounter/2022-12-15_00-27-07/results.csv
.VSCodeCounter/2022-12-15_00-27-07/results.json
.VSCodeCounter/2022-12-15_00-27-07/results.md
.VSCodeCounter/2022-12-15_00-27-07/results.txt
.VSCodeCounter/2022-12-17_06-16-39/details.md
.VSCodeCounter/2022-12-17_06-16-39/diff-details.md
.VSCodeCounter/2022-12-17_06-16-39/diff.csv
.VSCodeCounter/2022-12-17_06-16-39/diff.md
.VSCodeCounter/2022-12-17_06-16-39/diff.txt
.VSCodeCounter/2022-12-17_06-16-39/results.csv
.VSCodeCounter/2022-12-17_06-16-39/results.json
.VSCodeCounter/2022-12-17_06-16-39/results.md
.VSCodeCounter/2022-12-17_06-16-39/results.txt
doxygen/html/_c_r_c32_8cpp__incl.map
doxygen/html/_c_r_c32_8cpp__incl.md5
doxygen/html/_c_r_c32_8cpp__incl.png
doxygen/html/_c_r_c32_8cpp.html
doxygen/html/_c_r_c32_8h__incl.map
doxygen/html/_c_r_c32_8h__incl.md5
doxygen/html/_c_r_c32_8h__incl.png
doxygen/html/_c_r_c32_8h_source.html
doxygen/html/_c_r_c32_8h.html
doxygen/html/_i_d_a_t___c_h_u_n_k_8cpp__incl.map
doxygen/html/_i_d_a_t___c_h_u_n_k_8cpp__incl.md5
doxygen/html/_i_d_a_t___c_h_u_n_k_8cpp__incl.png
doxygen/html/_i_d_a_t___c_h_u_n_k_8cpp.html
doxygen/html/_i_d_a_t___c_h_u_n_k_8h__incl.map
doxygen/html/_i_d_a_t___c_h_u_n_k_8h__incl.md5
doxygen/html/_i_d_a_t___c_h_u_n_k_8h__incl.png
doxygen/html/_i_d_a_t___c_h_u_n_k_8h_source.html
doxygen/html/_i_d_a_t___c_h_u_n_k_8h.html
doxygen/html/_i_e_n_d___c_h_u_n_k_8cpp__incl.map
doxygen/html/_i_e_n_d___c_h_u_n_k_8cpp__incl.md5
doxygen/html/_i_e_n_d___c_h_u_n_k_8cpp__incl.png
doxygen/html/_i_e_n_d___c_h_u_n_k_8cpp.html
doxygen/html/_i_e_n_d___c_h_u_n_k_8h__incl.map
doxygen/html/_i_e_n_d___c_h_u_n_k_8h__incl.md5
doxygen/html/_i_e_n_d___c_h_u_n_k_8h__incl.png
doxygen/html/_i_e_n_d___c_h_u_n_k_8h_source.html
doxygen/html/_i_e_n_d___c_h_u_n_k_8h.html
doxygen/html/_i_h_d_r___c_h_u_n_k_8cpp__incl.map
doxygen/html/_i_h_d_r___c_h_u_n_k_8cpp__incl.md5
doxygen/html/_i_h_d_r___c_h_u_n_k_8cpp__incl.png
doxygen/html/_i_h_d_r___c_h_u_n_k_8cpp.html
doxygen/html/_i_h_d_r___c_h_u_n_k_8h__incl.map
doxygen/html/_i_h_d_r___c_h_u_n_k_8h__incl.md5
doxygen/html/_i_h_d_r___c_h_u_n_k_8h__incl.png
doxygen/html/_i_h_d_r___c_h_u_n_k_8h_source.html
doxygen/html/_i_h_d_r___c_h_u_n_k_8h.html
doxygen/html/_p_h_y_s___c_h_u_n_k_8cpp__incl.map
doxygen/html/_p_h_y_s___c_h_u_n_k_8cpp__incl.md5
doxygen/html/_p_h_y_s___c_h_u_n_k_8cpp__incl.png
doxygen/html/_p_h_y_s___c_h_u_n_k_8cpp.html
doxygen/html/_p_h_y_s___c_h_u_n_k_8h__incl.map
doxygen/html/_p_h_y_s___c_h_u_n_k_8h__incl.md5
doxygen/html/_p_h_y_s___c_h_u_n_k_8h__incl.png
doxygen/html/_p_h_y_s___c_h_u_n_k_8h_source.html
doxygen/html/_p_h_y_s___c_h_u_n_k_8h.html
doxygen/html/_p_ixels_utilities_8cpp__incl.map
doxygen/html/_p_ixels_utilities_8cpp__incl.md5
doxygen/html/_p_ixels_utilities_8cpp__incl.png
doxygen/html/_p_ixels_utilities_8cpp.html
doxygen/html/_p_n_g_8cpp__incl.map
doxygen/html/_p_n_g_8cpp__incl.md5
doxygen/html/_p_n_g_8cpp__incl.png
doxygen/html/_p_n_g_8cpp.html
doxygen/html/_p_n_g_8h__incl.map
doxygen/html/_p_n_g_8h__incl.md5
doxygen/html/_p_n_g_8h__incl.png
doxygen/html/_p_n_g_8h_source.html
doxygen/html/_p_n_g_8h.html
doxygen/html/_pixels_manager_8cpp__incl.map
doxygen/html/_pixels_manager_8cpp__incl.md5
doxygen/html/_pixels_manager_8cpp__incl.png
doxygen/html/_pixels_manager_8cpp.html
doxygen/html/_pixels_manager_8h__incl.map
doxygen/html/_pixels_manager_8h__incl.md5
doxygen/html/_pixels_manager_8h__incl.png
doxygen/html/_pixels_manager_8h_source.html
doxygen/html/_pixels_manager_8h.html
doxygen/html/_pixels_utilities_8h__incl.map
doxygen/html/_pixels_utilities_8h__incl.md5
doxygen/html/_pixels_utilities_8h__incl.png
doxygen/html/_pixels_utilities_8h_source.html
doxygen/html/_pixels_utilities_8h.html
doxygen/html/_readme_8md.html
doxygen/html/_utilities_8cpp__incl.map
doxygen/html/_utilities_8cpp__incl.md5
doxygen/html/_utilities_8cpp__incl.png
doxygen/html/_utilities_8cpp.html
doxygen/html/_utilities_8h__incl.map
doxygen/html/_utilities_8h__incl.md5
doxygen/html/_utilities_8h__incl.png
doxygen/html/_utilities_8h_source.html
doxygen/html/_utilities_8h.html
doxygen/html/annotated.html
doxygen/html/bc_s.png
doxygen/html/bdwn.png
doxygen/html/bin_2_module_0f_plot_0e_2_readme_8md.html
doxygen/html/class_c_r_c32-members.html
doxygen/html/class_c_r_c32.html
doxygen/html/class_i_d_a_t___c_h_u_n_k-members.html
doxygen/html/class_i_d_a_t___c_h_u_n_k.html
doxygen/html/class_i_e_n_d___c_h_u_n_k-members.html
doxygen/html/class_i_e_n_d___c_h_u_n_k.html
doxygen/html/class_i_h_d_r___c_h_u_n_k-members.html
doxygen/html/class_i_h_d_r___c_h_u_n_k.html
doxygen/html/class_p_h_y_s___c_h_u_n_k-members.html
doxygen/html/class_p_h_y_s___c_h_u_n_k.html
doxygen/html/class_p_n_g-members.html
doxygen/html/class_p_n_g.html
doxygen/html/class_pixels_utilities_1_1_kmean__point-members.html
doxygen/html/class_pixels_utilities_1_1_kmean__point.html
doxygen/html/classes.html
doxygen/html/closed-folder.png
doxygen/html/closed.png
doxygen/html/dir_0e4ddbdd88eaf9fd76ddd0bb17a64871_dep.map
doxygen/html/dir_0e4ddbdd88eaf9fd76ddd0bb17a64871_dep.md5
doxygen/html/dir_0e4ddbdd88eaf9fd76ddd0bb17a64871_dep.png
doxygen/html/dir_0e4ddbdd88eaf9fd76ddd0bb17a64871.html
doxygen/html/dir_1bc019298e9d5d4781216d98696dc3bc_dep.map
doxygen/html/dir_1bc019298e9d5d4781216d98696dc3bc_dep.md5
doxygen/html/dir_1bc019298e9d5d4781216d98696dc3bc_dep.png
doxygen/html/dir_1bc019298e9d5d4781216d98696dc3bc.html
doxygen/html/dir_000002_000003.html
doxygen/html/dir_2ea30aa2956a8db99dd22aa5e597f384.html
doxygen/html/dir_4c6a90dd5ddd234f2bf9d3e84efddb05_dep.map
doxygen/html/dir_4c6a90dd5ddd234f2bf9d3e84efddb05_dep.md5
doxygen/html/dir_4c6a90dd5ddd234f2bf9d3e84efddb05_dep.png
doxygen/html/dir_4c6a90dd5ddd234f2bf9d3e84efddb05.html
doxygen/html/dir_5b3596c9da1709830afd269de5bc926c_dep.map
doxygen/html/dir_5b3596c9da1709830afd269de5bc926c_dep.md5
doxygen/html/dir_5b3596c9da1709830afd269de5bc926c_dep.png
doxygen/html/dir_5b3596c9da1709830afd269de5bc926c.html
doxygen/html/dir_000006_000003.html
doxygen/html/dir_000007_000001.html
doxygen/html/dir_000007_000010.html
doxygen/html/dir_000008_000003.html
doxygen/html/dir_000009_000003.html
doxygen/html/dir_38ee87a737f6fb29354c578c08fee569_dep.map
doxygen/html/dir_38ee87a737f6fb29354c578c08fee569_dep.md5
doxygen/html/dir_38ee87a737f6fb29354c578c08fee569_dep.png
doxygen/html/dir_38ee87a737f6fb29354c578c08fee569.html
doxygen/html/dir_83a9457b80194dcb7e3cb8cf2c52e75d_dep.map
doxygen/html/dir_83a9457b80194dcb7e3cb8cf2c52e75d_dep.md5
doxygen/html/dir_83a9457b80194dcb7e3cb8cf2c52e75d_dep.png
doxygen/html/dir_83a9457b80194dcb7e3cb8cf2c52e75d.html
doxygen/html/dir_742c18641d271bc6f82c61e98aabbcd1_dep.map
doxygen/html/dir_742c18641d271bc6f82c61e98aabbcd1_dep.md5
doxygen/html/dir_742c18641d271bc6f82c61e98aabbcd1_dep.png
doxygen/html/dir_742c18641d271bc6f82c61e98aabbcd1.html
doxygen/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.map
doxygen/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.md5
doxygen/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.png
doxygen/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
doxygen/html/dir_d44c64559bbebec7f509842c48db8b23_dep.map
doxygen/html/dir_d44c64559bbebec7f509842c48db8b23_dep.md5
doxygen/html/dir_d44c64559bbebec7f509842c48db8b23_dep.png
doxygen/html/dir_d44c64559bbebec7f509842c48db8b23.html
doxygen/html/dir_e423b269cc831336d6aa1ab927c8766f_dep.map
doxygen/html/dir_e423b269cc831336d6aa1ab927c8766f_dep.md5
doxygen/html/dir_e423b269cc831336d6aa1ab927c8766f_dep.png
doxygen/html/dir_e423b269cc831336d6aa1ab927c8766f.html
doxygen/html/doc.png
doxygen/html/document.png
doxygen/html/doxygen-style.css
doxygen/html/doxygen.css
doxygen/html/doxygen.svg
doxygen/html/dynsections.js
doxygen/html/files.html
doxygen/html/folderclosed.png
doxygen/html/folderopen.png
doxygen/html/functions_enum.html
doxygen/html/functions_eval.html
doxygen/html/functions_func.html
doxygen/html/functions_rela.html
doxygen/html/functions_vars.html
doxygen/html/functions.html
doxygen/html/globals_defs.html
doxygen/html/globals_func.html
doxygen/html/globals_type.html
doxygen/html/globals_vars.html
doxygen/html/globals.html
doxygen/html/graph_legend.html
doxygen/html/graph_legend.md5
doxygen/html/graph_legend.png
doxygen/html/index.html
doxygen/html/io logo 23.jpg
doxygen/html/io.png
doxygen/html/jquery.js
doxygen/html/main_8cpp__incl.map
doxygen/html/main_8cpp__incl.md5
doxygen/html/main_8cpp__incl.png
doxygen/html/main_8cpp.html
doxygen/html/md__readme.html
doxygen/html/md_bin__module__plot___readme.html
doxygen/html/menu.js
doxygen/html/menudata.js
doxygen/html/namespace_pixels_manager_1_1color__channel.html
doxygen/html/namespace_pixels_manager_1_1gray__level.html
doxygen/html/namespace_pixels_manager.html
doxygen/html/namespace_pixels_utilities.html
doxygen/html/namespace_utilities.html
doxygen/html/namespacecolor__channel.html
doxygen/html/namespacegray__level.html
doxygen/html/namespacemembers_enum.html
doxygen/html/namespacemembers_eval.html
doxygen/html/namespacemembers_func.html
doxygen/html/namespacemembers.html
doxygen/html/namespaces.html
doxygen/html/nav_f.png
doxygen/html/nav_g.png
doxygen/html/nav_h.png
doxygen/html/off_sync.png
doxygen/html/on_sync.png
doxygen/html/open.png
doxygen/html/opened-folder.png
doxygen/html/pages.html
doxygen/html/splitbar.png
doxygen/html/structgz__header__s-members.html
doxygen/html/structgz__header__s.html
doxygen/html/structinternal__state-members.html
doxygen/html/structinternal__state.html
doxygen/html/structz__stream__s__coll__graph.map
doxygen/html/structz__stream__s__coll__graph.md5
doxygen/html/structz__stream__s__coll__graph.png
doxygen/html/structz__stream__s-members.html
doxygen/html/structz__stream__s.html
doxygen/html/sync_off.png
doxygen/html/sync_on.png
doxygen/html/tab_a.png
doxygen/html/tab_b.png
doxygen/html/tab_h.png
doxygen/html/tab_s.png
doxygen/html/tabs.css
doxygen/html/zconf_8h__incl.map
doxygen/html/zconf_8h__incl.md5
doxygen/html/zconf_8h__incl.png
doxygen/html/zconf_8h_source.html
doxygen/html/zconf_8h.html
doxygen/html/zlib_8h__incl.map
doxygen/html/zlib_8h__incl.md5
doxygen/html/zlib_8h__incl.png
doxygen/html/zlib_8h_source.html
doxygen/html/zlib_8h.html
doxygen/html/search/all_0.html
doxygen/html/search/all_0.js
doxygen/html/search/all_1.html
doxygen/html/search/all_1.js
doxygen/html/search/all_2.html
doxygen/html/search/all_2.js
doxygen/html/search/all_3.html
doxygen/html/search/all_3.js
doxygen/html/search/all_4.html
doxygen/html/search/all_4.js
doxygen/html/search/all_5.html
doxygen/html/search/all_5.js
doxygen/html/search/all_6.html
doxygen/html/search/all_6.js
doxygen/html/search/all_7.html
doxygen/html/search/all_7.js
doxygen/html/search/all_8.html
doxygen/html/search/all_8.js
doxygen/html/search/all_9.html
doxygen/html/search/all_9.js
doxygen/html/search/all_10.html
doxygen/html/search/all_10.js
doxygen/html/search/all_11.html
doxygen/html/search/all_11.js
doxygen/html/search/all_12.html
doxygen/html/search/all_12.js
doxygen/html/search/all_13.html
doxygen/html/search/all_13.js
doxygen/html/search/all_14.html
doxygen/html/search/all_14.js
doxygen/html/search/all_15.html
doxygen/html/search/all_15.js
doxygen/html/search/all_16.html
doxygen/html/search/all_16.js
doxygen/html/search/all_a.html
doxygen/html/search/all_a.js
doxygen/html/search/all_b.html
doxygen/html/search/all_b.js
doxygen/html/search/all_c.html
doxygen/html/search/all_c.js
doxygen/html/search/all_d.html
doxygen/html/search/all_d.js
doxygen/html/search/all_e.html
doxygen/html/search/all_e.js
doxygen/html/search/all_f.html
doxygen/html/search/all_f.js
doxygen/html/search/classes_0.html
doxygen/html/search/classes_0.js
doxygen/html/search/classes_1.html
doxygen/html/search/classes_1.js
doxygen/html/search/classes_2.html
doxygen/html/search/classes_2.js
doxygen/html/search/classes_3.html
doxygen/html/search/classes_3.js
doxygen/html/search/classes_4.html
doxygen/html/search/classes_4.js
doxygen/html/search/classes_5.html
doxygen/html/search/classes_5.js
doxygen/html/search/close.svg
doxygen/html/search/defines_0.html
doxygen/html/search/defines_0.js
doxygen/html/search/defines_1.html
doxygen/html/search/defines_1.js
doxygen/html/search/defines_2.html
doxygen/html/search/defines_2.js
doxygen/html/search/defines_3.html
doxygen/html/search/defines_3.js
doxygen/html/search/defines_4.html
doxygen/html/search/defines_4.js
doxygen/html/search/defines_5.html
doxygen/html/search/defines_5.js
doxygen/html/search/defines_6.html
doxygen/html/search/defines_6.js
doxygen/html/search/defines_7.html
doxygen/html/search/defines_7.js
doxygen/html/search/enums_0.html
doxygen/html/search/enums_0.js
doxygen/html/search/enums_1.html
doxygen/html/search/enums_1.js
doxygen/html/search/enumvalues_0.html
doxygen/html/search/enumvalues_0.js
doxygen/html/search/enumvalues_1.html
doxygen/html/search/enumvalues_1.js
doxygen/html/search/enumvalues_2.html
doxygen/html/search/enumvalues_2.js
doxygen/html/search/enumvalues_3.html
doxygen/html/search/enumvalues_3.js
doxygen/html/search/enumvalues_4.html
doxygen/html/search/enumvalues_4.js
doxygen/html/search/enumvalues_5.html
doxygen/html/search/enumvalues_5.js
doxygen/html/search/enumvalues_6.html
doxygen/html/search/enumvalues_6.js
doxygen/html/search/enumvalues_7.html
doxygen/html/search/enumvalues_7.js
doxygen/html/search/files_0.html
doxygen/html/search/files_0.js
doxygen/html/search/files_1.html
doxygen/html/search/files_1.js
doxygen/html/search/files_2.html
doxygen/html/search/files_2.js
doxygen/html/search/files_3.html
doxygen/html/search/files_3.js
doxygen/html/search/files_4.html
doxygen/html/search/files_4.js
doxygen/html/search/files_5.html
doxygen/html/search/files_5.js
doxygen/html/search/files_6.html
doxygen/html/search/files_6.js
doxygen/html/search/functions_0.html
doxygen/html/search/functions_0.js
doxygen/html/search/functions_1.html
doxygen/html/search/functions_1.js
doxygen/html/search/functions_2.html
doxygen/html/search/functions_2.js
doxygen/html/search/functions_3.html
doxygen/html/search/functions_3.js
doxygen/html/search/functions_4.html
doxygen/html/search/functions_4.js
doxygen/html/search/functions_5.html
doxygen/html/search/functions_5.js
doxygen/html/search/functions_6.html
doxygen/html/search/functions_6.js
doxygen/html/search/functions_7.html
doxygen/html/search/functions_7.js
doxygen/html/search/functions_8.html
doxygen/html/search/functions_8.js
doxygen/html/search/functions_9.html
doxygen/html/search/functions_9.js
doxygen/html/search/functions_10.html
doxygen/html/search/functions_10.js
doxygen/html/search/functions_a.html
doxygen/html/search/functions_a.js
doxygen/html/search/functions_b.html
doxygen/html/search/functions_b.js
doxygen/html/search/functions_c.html
doxygen/html/search/functions_c.js
doxygen/html/search/functions_d.html
doxygen/html/search/functions_d.js
doxygen/html/search/functions_e.html
doxygen/html/search/functions_e.js
doxygen/html/search/functions_f.html
doxygen/html/search/functions_f.js
doxygen/html/search/mag_sel.svg
doxygen/html/search/namespaces_0.html
doxygen/html/search/namespaces_0.js
doxygen/html/search/namespaces_1.html
doxygen/html/search/namespaces_1.js
doxygen/html/search/namespaces_2.html
doxygen/html/search/namespaces_2.js
doxygen/html/search/namespaces_3.html
doxygen/html/search/namespaces_3.js
doxygen/html/search/nomatches.html
doxygen/html/search/pages_0.html
doxygen/html/search/pages_0.js
doxygen/html/search/pages_1.html
doxygen/html/search/pages_1.js
doxygen/html/search/related_0.html
doxygen/html/search/related_0.js
doxygen/html/search/search_l.png
doxygen/html/search/search_m.png
doxygen/html/search/search_r.png
doxygen/html/search/search.css
doxygen/html/search/search.js
doxygen/html/search/searchdata.js
doxygen/html/search/typedefs_0.html
doxygen/html/search/typedefs_0.js
doxygen/html/search/typedefs_1.html
doxygen/html/search/typedefs_1.js
doxygen/html/search/typedefs_2.html
doxygen/html/search/typedefs_2.js
doxygen/html/search/typedefs_3.html
doxygen/html/search/typedefs_3.js
doxygen/html/search/typedefs_4.html
doxygen/html/search/typedefs_4.js
doxygen/html/search/typedefs_5.html
doxygen/html/search/typedefs_5.js
doxygen/html/search/typedefs_6.html
doxygen/html/search/typedefs_6.js
doxygen/html/search/typedefs_7.html
doxygen/html/search/typedefs_7.js
doxygen/html/search/variables_0.html
doxygen/html/search/variables_0.js
doxygen/html/search/variables_1.html
doxygen/html/search/variables_1.js
doxygen/html/search/variables_2.html
doxygen/html/search/variables_2.js
doxygen/html/search/variables_3.html
doxygen/html/search/variables_3.js
doxygen/html/search/variables_4.html
doxygen/html/search/variables_4.js
doxygen/html/search/variables_5.html
doxygen/html/search/variables_5.js
doxygen/html/search/variables_6.html
doxygen/html/search/variables_6.js
doxygen/html/search/variables_7.html
doxygen/html/search/variables_7.js
doxygen/html/search/variables_8.html
doxygen/html/search/variables_8.js
doxygen/html/search/variables_9.html
doxygen/html/search/variables_9.js
doxygen/html/search/variables_a.html
doxygen/html/search/variables_a.js
doxygen/html/search/variables_b.html
doxygen/html/search/variables_b.js
doxygen/html/search/variables_c.html
doxygen/html/search/variables_c.js
doxygen/html/search/variables_d.html
doxygen/html/search/variables_d.js
doxygen/html/search/variables_e.html
doxygen/html/search/variables_e.js
doxygen/html/search/variables_f.html
doxygen/html/search/variables_f.js
doxygen/latex/_c_r_c32_8cpp__incl.md5
doxygen/latex/_c_r_c32_8cpp__incl.pdf
doxygen/latex/_c_r_c32_8cpp.tex
doxygen/latex/_c_r_c32_8h__incl.md5
doxygen/latex/_c_r_c32_8h__incl.pdf
doxygen/latex/_c_r_c32_8h_source.tex
doxygen/latex/_c_r_c32_8h.tex
doxygen/latex/_i_d_a_t___c_h_u_n_k_8cpp__incl.md5
doxygen/latex/_i_d_a_t___c_h_u_n_k_8cpp__incl.pdf
doxygen/latex/_i_d_a_t___c_h_u_n_k_8cpp.tex
doxygen/latex/_i_d_a_t___c_h_u_n_k_8h__incl.md5
doxygen/latex/_i_d_a_t___c_h_u_n_k_8h__incl.pdf
doxygen/latex/_i_d_a_t___c_h_u_n_k_8h_source.tex
doxygen/latex/_i_d_a_t___c_h_u_n_k_8h.tex
doxygen/latex/_i_e_n_d___c_h_u_n_k_8cpp__incl.md5
doxygen/latex/_i_e_n_d___c_h_u_n_k_8cpp__incl.pdf
doxygen/latex/_i_e_n_d___c_h_u_n_k_8cpp.tex
doxygen/latex/_i_e_n_d___c_h_u_n_k_8h__incl.md5
doxygen/latex/_i_e_n_d___c_h_u_n_k_8h__incl.pdf
doxygen/latex/_i_e_n_d___c_h_u_n_k_8h_source.tex
doxygen/latex/_i_e_n_d___c_h_u_n_k_8h.tex
doxygen/latex/_i_h_d_r___c_h_u_n_k_8cpp__incl.md5
doxygen/latex/_i_h_d_r___c_h_u_n_k_8cpp__incl.pdf
doxygen/latex/_i_h_d_r___c_h_u_n_k_8cpp.tex
doxygen/latex/_i_h_d_r___c_h_u_n_k_8h__incl.md5
doxygen/latex/_i_h_d_r___c_h_u_n_k_8h__incl.pdf
doxygen/latex/_i_h_d_r___c_h_u_n_k_8h_source.tex
doxygen/latex/_i_h_d_r___c_h_u_n_k_8h.tex
doxygen/latex/_p_h_y_s___c_h_u_n_k_8cpp__incl.md5
doxygen/latex/_p_h_y_s___c_h_u_n_k_8cpp__incl.pdf
doxygen/latex/_p_h_y_s___c_h_u_n_k_8cpp.tex
doxygen/latex/_p_h_y_s___c_h_u_n_k_8h__incl.md5
doxygen/latex/_p_h_y_s___c_h_u_n_k_8h__incl.pdf
doxygen/latex/_p_h_y_s___c_h_u_n_k_8h_source.tex
doxygen/latex/_p_h_y_s___c_h_u_n_k_8h.tex
doxygen/latex/_p_ixels_utilities_8cpp__incl.md5
doxygen/latex/_p_ixels_utilities_8cpp__incl.pdf
doxygen/latex/_p_ixels_utilities_8cpp.tex
doxygen/latex/_p_n_g_8cpp__incl.md5
doxygen/latex/_p_n_g_8cpp__incl.pdf
doxygen/latex/_p_n_g_8cpp.tex
doxygen/latex/_p_n_g_8h__incl.md5
doxygen/latex/_p_n_g_8h__incl.pdf
doxygen/latex/_p_n_g_8h_source.tex
doxygen/latex/_p_n_g_8h.tex
doxygen/latex/_pixels_manager_8cpp__incl.md5
doxygen/latex/_pixels_manager_8cpp__incl.pdf
doxygen/latex/_pixels_manager_8cpp.tex
doxygen/latex/_pixels_manager_8h__incl.md5
doxygen/latex/_pixels_manager_8h__incl.pdf
doxygen/latex/_pixels_manager_8h_source.tex
doxygen/latex/_pixels_manager_8h.tex
doxygen/latex/_pixels_utilities_8h__incl.md5
doxygen/latex/_pixels_utilities_8h__incl.pdf
doxygen/latex/_pixels_utilities_8h_source.tex
doxygen/latex/_pixels_utilities_8h.tex
doxygen/latex/_readme_8md.tex
doxygen/latex/_utilities_8cpp__incl.md5
doxygen/latex/_utilities_8cpp__incl.pdf
doxygen/latex/_utilities_8cpp.tex
doxygen/latex/_utilities_8h__incl.md5
doxygen/latex/_utilities_8h__incl.pdf
doxygen/latex/_utilities_8h_source.tex
doxygen/latex/_utilities_8h.tex
doxygen/latex/annotated.tex
doxygen/latex/bin_2_module_0f_plot_0e_2_readme_8md.tex
doxygen/latex/class_c_r_c32.tex
doxygen/latex/class_i_d_a_t___c_h_u_n_k.tex
doxygen/latex/class_i_e_n_d___c_h_u_n_k.tex
doxygen/latex/class_i_h_d_r___c_h_u_n_k.tex
doxygen/latex/class_p_h_y_s___c_h_u_n_k.tex
doxygen/latex/class_p_n_g.tex
doxygen/latex/class_pixels_utilities_1_1_kmean__point.tex
doxygen/latex/dir_0e4ddbdd88eaf9fd76ddd0bb17a64871_dep.md5
doxygen/latex/dir_0e4ddbdd88eaf9fd76ddd0bb17a64871_dep.pdf
doxygen/latex/dir_0e4ddbdd88eaf9fd76ddd0bb17a64871.tex
doxygen/latex/dir_1bc019298e9d5d4781216d98696dc3bc_dep.md5
doxygen/latex/dir_1bc019298e9d5d4781216d98696dc3bc_dep.pdf
doxygen/latex/dir_1bc019298e9d5d4781216d98696dc3bc.tex
doxygen/latex/dir_2ea30aa2956a8db99dd22aa5e597f384.tex
doxygen/latex/dir_4c6a90dd5ddd234f2bf9d3e84efddb05_dep.md5
doxygen/latex/dir_4c6a90dd5ddd234f2bf9d3e84efddb05_dep.pdf
doxygen/latex/dir_4c6a90dd5ddd234f2bf9d3e84efddb05.tex
doxygen/latex/dir_5b3596c9da1709830afd269de5bc926c_dep.md5
doxygen/latex/dir_5b3596c9da1709830afd269de5bc926c_dep.pdf
doxygen/latex/dir_5b3596c9da1709830afd269de5bc926c.tex
doxygen/latex/dir_38ee87a737f6fb29354c578c08fee569_dep.md5
doxygen/latex/dir_38ee87a737f6fb29354c578c08fee569_dep.pdf
doxygen/latex/dir_38ee87a737f6fb29354c578c08fee569.tex
doxygen/latex/dir_83a9457b80194dcb7e3cb8cf2c52e75d_dep.md5
doxygen/latex/dir_83a9457b80194dcb7e3cb8cf2c52e75d_dep.pdf
doxygen/latex/dir_83a9457b80194dcb7e3cb8cf2c52e75d.tex
doxygen/latex/dir_742c18641d271bc6f82c61e98aabbcd1_dep.md5
doxygen/latex/dir_742c18641d271bc6f82c61e98aabbcd1_dep.pdf
doxygen/latex/dir_742c18641d271bc6f82c61e98aabbcd1.tex
doxygen/latex/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.md5
doxygen/latex/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.pdf
doxygen/latex/dir_68267d1309a1af8e8297ef4c3efbcdba.tex
doxygen/latex/dir_d44c64559bbebec7f509842c48db8b23_dep.md5
doxygen/latex/dir_d44c64559bbebec7f509842c48db8b23_dep.pdf
doxygen/latex/dir_d44c64559bbebec7f509842c48db8b23.tex
doxygen/latex/dir_e423b269cc831336d6aa1ab927c8766f_dep.md5
doxygen/latex/dir_e423b269cc831336d6aa1ab927c8766f_dep.pdf
doxygen/latex/dir_e423b269cc831336d6aa1ab927c8766f.tex
doxygen/latex/doxygen.sty
doxygen/latex/files.tex
doxygen/latex/index.tex
doxygen/latex/io logo 23.jpg
doxygen/latex/io.png
doxygen/latex/longtable_doxygen.sty
doxygen/latex/main_8cpp__incl.md5
doxygen/latex/main_8cpp__incl.pdf
doxygen/latex/main_8cpp.tex
doxygen/latex/make.bat
doxygen/latex/Makefile
doxygen/latex/md__readme.tex
doxygen/latex/md_bin__module__plot___readme.tex
doxygen/latex/namespace_pixels_manager_1_1color__channel.tex
doxygen/latex/namespace_pixels_manager_1_1gray__level.tex
doxygen/latex/namespace_pixels_manager.tex
doxygen/latex/namespace_pixels_utilities.tex
doxygen/latex/namespace_utilities.tex
doxygen/latex/namespacecolor__channel.tex
doxygen/latex/namespacegray__level.tex
doxygen/latex/namespaces.tex
doxygen/latex/refman.tex
doxygen/latex/structgz__header__s.tex
doxygen/latex/structinternal__state.tex
doxygen/latex/structz__stream__s__coll__graph.md5
doxygen/latex/structz__stream__s__coll__graph.pdf
doxygen/latex/structz__stream__s.tex
doxygen/latex/tabu_doxygen.sty
doxygen/latex/zconf_8h__incl.md5
doxygen/latex/zconf_8h__incl.pdf
doxygen/latex/zconf_8h_source.tex
doxygen/latex/zconf_8h.tex
doxygen/latex/zlib_8h__incl.md5
doxygen/latex/zlib_8h__incl.pdf
doxygen/latex/zlib_8h_source.tex
doxygen/latex/zlib_8h.tex
Doxyfile
